

body {
    background-color: black;
    display: flex;
    grid-template-columns:auto auto;
    justify-content: space-evenly;
    height: 100vh;

}

section {
    width: 25%;
    border-radius: 25px;
    background-color: white;
}

header {
    width: 100%;
}

.left{
    margin-bottom: 100px;
}

.right {
    margin-top: 150px;
}

img {
    width: 100%;
}

div {
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
    color: yellow;
}

.grey {
    background-color: grey;
    color: yellow;
}
